{% extends "base.html" %}


{% block header_text%}
LCTC personal info
{% endblock %}

{% block content %}
<div class="container">
<div class="col-md-6 col-md-offset-3 jumbotron">
    <table class="table table-striped">
  <tbody>
    <tr>
      <td>Name</td>
      <td>{{ guy.name }}</td>
    </tr>
    <tr>
      <td>Age</td>
      <td>{{ guy.age }}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ guy.email }}</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>{{ guy.phone }}</td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>{{ guy.gender }}</td>
    </tr>
  </tbody>
</table>

</div>
 </div>
{% endblock %}