{% extends "base.html" %}


{% block header_text%}
LCTC personal info
{% endblock %}

{% block content %}
<div class="container">
<div class="col-md-6 col-md-offset-3 jumbotron">
    <table class="table table-striped">
  <thead>
    <tr>
      <th>name</th>
      <th>age</th>
      <th>gender</th>
    </tr>
  </thead>
  <tbody>
  {% for guy in guys %}
    <tr>
      <td>{{ guy.name }}</td>
      <td>{{ guy.age }}</td>
      <td>{{ guy.gender }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

</div>
 </div>
{% endblock %}