<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/guys/" method="get">
        <div><input type="text" name="name">Name</div>
        <div><input type="number" name="age">Age</div>
        <div><input type="text" name="phone">Phone#</div>
        <div>
            <label><input type="radio" name="gender" value="M">MALE</label>
            <label><input type="radio" name="gender" value="F">FEMALE</label>
        </div>
        <div><input type="submit" value="Search"></div>
    </form>
</body>
</html>