Babel==2.3.4
debtcollector==1.10.0
Django==1.10.2
funcsigs==1.0.2
iso8601==0.1.11
monotonic==1.2
msgpack-python==0.4.8
netaddr==0.7.18
netifaces==0.10.5
oslo.i18n==3.11.0
oslo.serialization==2.15.0
oslo.utils==3.20.0
pbr==1.10.0
pyparsing==2.1.10
pytz==2016.10
selenium==3.0.1
six==1.10.0
wrapt==1.10.8
