body {
  padding-top: 20px;
}

.guys {
  list-style: none;
}

.guys li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

.thumb {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 150px;
}

.thumb2 {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 500px;
}

.sm_p{
  background-size:25%
}

.input{
  padding-bottom: 1em;
}
