<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LCTC</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/base.css" rel="stylesheet" media="screen">
        <script src="/static/bower_components/angular/angular.js"></script>
    </head>
    <body>
    <div class="col-md-6 col-md-offset-3">
        <ul class="nav nav-pills">
            <li ><a href="{% url 'index' %}">Home</a></li>
        </ul>
        <h1 class="text-center">
            {% block header_text %}{% endblock %}
        </h1>
    </div>


        <div ng-app="">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>