<div class="col-md-3">
    <!--Sidebar content-->

            <div class="input-group input-group-sm input">
                <label for="query" >Search:</label>
                <input id="query" class="form-control" ng-model="$ctrl.query" />
            </div>

            <div class="input-group input-group-sm input">
                <div>
                    <label for="order" >Sort by:</label>
                </div>
                <select id="order" ng-model="$ctrl.orderProp" class="btn dropdown-toggle">
                    <option value="pk">Id</option>
                    <option value="fields.age">Youngest</option>
                </select>
            </div>

            <div class="form-group input">
                <form name="myForm" novalidate>
                    <label for="form_name" >Name:</label>
                    <input id="form_name" name="form_name" class="form-control" ng-model="$ctrl.user.name" required>

                    <div>
                        <span style="color:red" ng-show="myForm.form_name.$touched && myForm.form_name.$invalid">
                            <span ng-show="myForm.form_name.$error.required">please input a name</span>
                    </span>
                    </div>

                    <label for="form_phone" >Phone:</label>
                    <input id="form_phone" class="form-control" ng-model="$ctrl.user.phone" required>

                    <label for="form_email" >Email:</label>
                    <input id="form_email" name="form_email" type="email" class="form-control" ng-model="$ctrl.user.email" required>
                    <div>
                        <span style="color:red" ng-show="myForm.form_email.$touched && myForm.form_email.$invalid">
                          <span ng-show="myForm.form_email.$error.required">please input a email</span>
                          <span ng-show="myForm.form_email.$error.email">invalid email format</span>
                    </span>
                    </div>


                    <label for="form_age" >Age:</label>
                    <input id="form_age" class="form-control" ng-model="$ctrl.user.age" required>
                    <label for="form_gender" >Gender:</label>
                    <input id="form_gender" class="form-control" ng-model="$ctrl.user.gender" required>
                    <br><br>
                    <button class="btn btn-primary" ng-click="$ctrl.GuyCreate()" ng-disabled="myForm.form_name.$invalid || myForm.form_email.$invalid">Submit</button>
                    <button class="btn btn-primary" ng-click="$ctrl.Reset()">Reset</button>
                </form>
            </div>
</div>

<div class="col-md-9">

    <ul class="guys">
        <li ng-repeat="guy in $ctrl.guys | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
            <!--<a href="#/phones/{{phone.id}}" class="thumb">-->
                <!--<img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" />-->
            <!--</a>-->
            <div class="thumb">
                <img ng-src="/static/images/{{guy.pk%6 + 1}}.jpg" class="thumbnail" width="100px" height="100px">
            </div>
            <div class="thumb2">
                <table class="table">
                    <tr>
                        <td><b>Id : </b>{{guy.pk}}</td>
                        <td><b>Name: </b>{{guy.fields.name}}</td>

                    </tr>
                    <tr>
                        <td><b>Age: </b>{{guy.fields.age}}</td>
                        <td><b>Gender: </b>{{guy.fields.gender}}</td>
                    </tr>
                    <tr>
                        <td><b>Email: </b>{{guy.fields.email}}</td>
                        <td><b>Phone: </b>{{guy.fields.phone}}</td>
                    </tr>
                </table>
            </div>
        </li>
    </ul>
</div>