<div class="col-md-3">
    <!--Sidebar content-->

            <div class="input-group input-group-sm input">
                <label for="query" >Search:</label>
                <input id="query" class="form-control" ng-model="$ctrl.query" />
            </div>

            <div class="input-group input-group-sm input">
                <div>
                    <label for="order" >Sort by:</label>
                </div>
                <select id="order" ng-model="$ctrl.orderProp" class="btn dropdown-toggle">
                    <option value="pk">Id</option>
                    <option value="fields.age">Youngest</option>
                </select>
            </div>


</div>

<div class="col-md-9">

    <ul class="guys">
        <li ng-repeat="guy in $ctrl.guys | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
            <!--<a href="#/phones/{{phone.id}}" class="thumb">-->
                <!--<img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" />-->
            <!--</a>-->
            <div class="thumb">
                <img ng-src="/static/images/{{guy.pk%6 + 1}}.jpg" class="thumbnail" width="100px" height="100px">
            </div>
            <div class="thumb2">
                <table class="table">
                    <tr>
                        <td><b>Id : </b>{{guy.pk}}</td>
                        <td><b>Name: </b>{{guy.fields.name}}</td>

                    </tr>
                    <tr>
                        <td><b>Age: </b>{{guy.fields.age}}</td>
                        <td><b>Gender: </b>{{guy.fields.gender}}</td>
                    </tr>
                    <tr>
                        <td><b>Email: </b>{{guy.fields.email}}</td>
                        <td><b>Phone: </b>{{guy.fields.phone}}</td>
                    </tr>
                </table>
            </div>


        </li>
    </ul>
    </div>